.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-group {
  position: relative;
  top: 0;
  margin: 0 3vw;
}


.nav-group ul:last-child{ position: absolute; right: 0; top: 0;}


.user-auth {
  width: 50%;
  height: auto;
  margin: auto;
}

.product-content li {
  width: 20%;
  list-style-type: none;
  padding: 1vw;
  display: inline-block;
  bottom: 0;
  right: 0;
  transition: all .5 ease;
}

.product-content li .card {
  position: relative;
  bottom: 0; right: 0;
  transition: all .3s ease;
}

.product-content li:hover .card {
  bottom: .3em;
  right: .3em;
  transition: all .5s ease;
  cursor: pointer;
  box-shadow: 2px 2px 12px 0 #ADADAD;
}

.modal-wrapper {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.6);
  position: fixed;
  left: 0; top: 0;
}

.modal-content {
  position: relative;
  width: 50%;
  min-height: 20vw;
  transform: translate(-50%, -50%);
  left: 50%; top: 50%;
}

.modal-content h3 {
  padding: .5vw 1.5vw;
}

.modal-close {
  position: absolute;
  right: 0; top: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background: red;
  color: #FFF;
  border: none;
  outline: none;
}

/* Slider:
- require move to other css file (homepage css file) */

#content-slider {
  padding: 2vw 1vw;
  display: flex;
  /* white-space: nowrap; */
  overflow-x: auto;
}

#content-slider .slider-item {
  width: 25%;
  height: 250px;
  position: relative;
  display: inline-block;
  transition: all 1s;
  float: left;
}

#content-slider .slider-item img {
  width: 100%;
  height: 100%;
  position: absolute;
}

#content-slider .slider-item:hover {
  width: 35%;
  height: 300px;
  transition: all 1s;
  opacity: .9;
  cursor: pointer;
}

#content-slider .slider-item:hover .content {
  /* position: absolute; */
}

/*test */
/* #content-slider .slider-item:nth-child(1) {
  width: 35%;
  height: 350px;
} */


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

